.list-empty {
  padding: 20px;
  font-size: 28px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin-top: 80px;
  color: #666;
}

.list-photos {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item-photo {
  padding: 20px 0;
  max-height: 250px;
}
