.list-empty {
  padding: 20px;
  font-size: 28px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin-top: 80px;
  color: #666;
}

.list-photos {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item-photo {
  padding: 20px 0;
  max-height: 250px;
}

.card {
  display: flex;
  flex-direction: column;
}

.photo-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.photo-action-button {
  margin-left: 5px;
  background-color: transparent;
}

.photo-action-button span {
  font-size: 16px;
  color: #333;
}
